.title{
    margin-left: 40px ;
    color: #a7a7a7
}

body{
    background-color:rgb(58, 58, 58) ;
}

.task{
    width: 80em ;
    padding: 30px ;
    margin: 10px ;
    border: 5px solid ;
    border-radius: 20px ;
    border-color: #000000 ;
    background-color: dimgray ;
    font-family: 'Bebas Neue', sans-serif ;
    font-size: 20px;
}