<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/styles/style.css" />
    <title>&#x1F5D2; Task Manager</title>
</head>
<body>
    <a href = "/add_task">
        Add a task
    </a>
    <a href = "/done_tasks">
        See done tasks
    </a>
    <h2>
        Tasks
    </h2>
    {% for (id, title, description, tag) in task_list : %}
    <div class = "task">
        <form method = 'POST' action = "/">
            <nobr>
                <p class="title">{{title}}</p> <p class="description">{{description}}</p> <p class="tag">{{tag}}</p>
                <button type = "submit" name = "modify" value = "{{id}}" class="btn">MODIFY</button>
                <button type = "submit" name = "done" value = "{{id}}" class="btn">DONE</button>
            </nobr>
        </form>
    </div>
    {% endfor %}
</body>